version: "3.9"

services:
  redis:
    image: redis:8.4
    container_name: generator-db
    ports:
      - "10000:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped

volumes:
  redis_data:
